.top-container{
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
  line-height: 2em;
}
.profile{
  width: 50%;
  margin: auto;
}
body{
  margin: 0px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

h1{
  font-size: 6.5rem;
  margin: 80px auto 40px auto;
  font-family: 'Tangerine', cursive;
  color: #3BACB6;
}

h2{
  font-family: 'Gentium Book Plus', serif;
  font-size: 2.5rem;
  color: #3BACB6;
  font-weight: normal;
}
h3{
  font-family: 'Gentium Book Plus', serif;
  color: #11999E;
}
.top-cloud{
  position: absolute;
  top: 40px;
  right: 400px;
}


.bottom-cloud{
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.pfp{
  height: 200px;
  margin-top: 50px;
}
.icon1{
  width: 15%;
  float: left;
  margin-right: 30px;
}
.icon2{
  width: 15%;
  float: right;
  margin-left: 30px;
}

hr{
  border-style: none;
  border-top: dotted;
  width: 3%;
  border-width: 5px;
  border-color: #EAF6F6;
  margin: 70px auto;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
  text-decoration: underline;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

p{
  line-height: 2;
}

.bottom-container{
  background-color: #66BFBF;
  margin-top: 50px;
  padding: 20px;
}

.copyright{
  color: #ffffff;
  font-size: 0.75rem;
  margin: 20px auto;
}
.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #11999E;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  line-height: 3;
}

.btn:hover {
  background: #30B3FB;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
